*.pth filter=lfs diff=lfs merge=lfs -text
src/model/model_weights.pth filter=lfs diff=lfs merge=lfs -text
src/detectron_model/cluv_detector.pth filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
src/client/ElectronSwanApp-win32-x64/ElectronSwanApp.exe filter=lfs diff=lfs merge=lfs -text
